body {
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-weight: 100;
    font-size: 130px;
    color: green;
  }
  
  h2 {
    font-weight: 100;
    font-size: 40px;
    color: red;
  }